.users-wrapper {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5em;
    grid-column-gap: 2em;
}

.users-wrapper li {
    padding: 12px;
    border: 2px solid #7a104e;
    border-radius: 10px;
    list-style-type: none;
}

.users-wrapper li input {
    width: 55%;
}

.users-wrapper li.selected {
    background: #ff7d7d;
}

button {
    background-color: #7a104e;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    border: 2px solid #7a104e;
    color: #7a104e;
}

.form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: center;
}
